[mysqld]
port=6317
sql_mode="NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION"
lower_case_table_names=1
skip_name_resolve=1
innodb_buffer_pool_size=14G
innodb_flush_method=O_DIRECT
innodb_log_file_size=1G
innodb_log_buffer_size=8M
innodb_flush_log_at_trx_commit=1
innodb_io_capacity=500
innodb_io_capacity_max=2000
