<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scrooc: About us</title>

		<%- include ("modules/link.ejs") %>
		
		<meta name="keywords" content="scrooc about, about us scrooc, what is scrooc">
		<meta name="description" content="Scrooc? What is it...">
		
		<meta property="og:url" content="https://scrooc.com/about">
		<meta property="og:title" content="Scrooc: About us">
		<meta property="og:type" content="website">
		<meta property="og:image" content="../../../img/og.png">
		<meta property="og:image" content="../../../img/og.png">
		<meta property="og:description" content="scrooc? What is it...">
		<meta property="og:site_name" content="Scrooc">

		<link rel="canonical" href="https://scrooc.com/about">
		<meta name="robots" content="index, follow">
	</head>
	<body >

		<%- include ("modules/head.ejs") %>

		<main id="skip1">
			<div class="container">
				<div class="about">
						<h3 class="title">What is scrooc ?</h3>
						<p>Scrooc is a smaller forum-ish social media where you can present yourself anonymously and still enjoy full functionality. <br>
						It aims to provide a straightforward experience without annoying and intrusive policies,
						user tracking, targeted ads, cross data sharing and biased censorship while having an comfortable retro-ish early web feel.
						</p><br>
						<h3 class="title">What it changes</h3>
						<p>It has a light interface, compressed content, avoids collecting and processing sensitive user data, is self hosted to be more
						independent and accessible. <br>
						It tries to incentivise conversations over scrolling by with a like/ dislike.<br>
						The algorithm is non intrusive, based only on the topics a user is interested in and the perceived quality of posts.
						</p><br>
						<h3 class="title">Censorship</h3>
						<p>To tackle the problem of unnecessary post burials and removals on bigger social media
						scrooc doesn't allow suppression by dislikes, doesn't utilize any hidden importance/acceptability, 
						ban lists, putting responsibility on a concentrated group of people...<br>
						There are some types of content we don't allow and will delist such as botted content, blatant promotions, terrorism posts, illegal posts, misusage of topics...<br>
						And not to forget about the teens you need to tag your post blurred/yikes if it contains any adult content,
						gore...<br>
						If any content that doesn't meet the criteria to be on here goes live it is up to the users to flag it and up to unaffiliated and random moderators to then decide if it violates the terms or not. If the violation is not severe it will get overwritten and delisted. If the action is repeated multiple times or is severe your account will be suspended from user interaction and all the posts violating ToS will be overwritten and delisted.<br>
						<a href="../../../stats"><button class="user-input-btn user-input-btn-right">See current stats on removed posts, banned users, posts...</button></a></p><br>

						
						<h3 class="title">How it came to be</h3>
						<p>I miss some of the older more friendly web design approaches and the simple concepts that
						older websites were based upon. This is the closest compromise between modern web and my ideal
						version of the old one before web3 takes over. You can take a look at the earliest interface concepts and inspirations:</p>

						<!--
							<div class="iframe">
								<iframe src="../../../concept1/concept1.html"></iframe>
								<iframe src="//theoutline.com/topic/future"></iframe>
							</div>
						-->
						
						<div class="gallery">
							<img src="../../../concept1/xd1.png" alt="1. Scrooc concept design">
							<img src="../../../concept1/xd2.png" alt="2. Scrooc concept design">
						</div><div class="gallery">
							<img src="../../../concept1/xd3.png" alt="3. Scrooc concept design">
							<img src="../../../concept1/xd4.png" alt="4. Scrooc concept design">
						</div>
			
				</div>
			</div>
			<div id="canvas"></div>
		</main>
	</body>
</html> 