<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scrooc: Explore</title>
		
		<%- include ("modules/link.ejs") %>
		
		<meta name="keywords" content="explore new topics, find new topic, exploring scrooc">
		<meta name="description" content="Find brand new interesting topics, related or opposite of your interests!">
		
		<meta property="og:url" content="https://scrooc.com/explore">
		<meta property="og:title" content="Scrooc: Explore"/>
		<meta property="og:type" content="website" />
		<meta property="og:image" content="../../../img/og.png" />
		<meta property="og:description" content="Find brand new interesting topics, related or opposite of your interests!" />
		<meta property="og:site_name" content="Scrooc" />

		<link rel="canonical" href="https://scrooc.com/explore">
		<meta name="robots" content="index, follow">
	</head>
	<body onload="getPosts();exploreTopics()">

		<%- include ("modules/head.ejs") %>

		<main id="skip1">
			<div class="explore-container">
				<div class="explore">
					<div class="explore-top"></div>
					<div class="explore-content"></div>
				</div>
			</div>
			<div class="load-container topics-load-container explore-load-container"><button class="load" id="load-topics" onclick="exploreTopics()">Load more</button></div>

			<div class="container">
				<div class="post placeholder-ph">
					<div class="meta">
						<div class="op placeholder"></div>
						<div class="date placeholder"></div>
					</div>
					<h2 class="post-title placeholder"></h2>
					<h2 class="topic-title placeholder"></h2>
					<div class="content ph">
						<p class="post-content placeholder"></p>
						<p class="post-content placeholder"></p>
						<p class="post-content placeholder"></p>
					</div>
					
					<div class="attachment-container"></div>
					<div class="social">
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
					</div>
				</div>
				<div class="post placeholder-ph">
					<div class="meta">
						<div class="op placeholder"></div>
						<div class="date placeholder"></div>
					</div>
					<h2 class="post-title placeholder"></h2>
					<h2 class="topic-title placeholder"></h2>
					<div class="content ph">
						<p class="post-content placeholder"></p>
					</div>
					
					<div class="attachment-container">
						<div class="attachment ph"></div>
					</div>
					<div class="social">
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
					</div>
				</div>
				<div class="post placeholder-ph">
					<div class="meta">
						<div class="op placeholder"></div>
						<div class="date placeholder"></div>
					</div>
					<h2 class="post-title placeholder"></h2>
					<h2 class="topic-title placeholder"></h2>
					<div class="content ph">
						<p class="post-content placeholder"></p>
						<p class="post-content placeholder"></p>
						<p class="post-content placeholder"></p>
					</div>
					
					<div class="attachment-container"></div>
					<div class="social">
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
					</div>
				</div>
				<div class="post placeholder-ph">
					<div class="meta">
						<div class="op placeholder"></div>
						<div class="date placeholder"></div>
					</div>
					<h2 class="post-title placeholder"></h2>
					<h2 class="topic-title placeholder"></h2>
					<div class="content ph">
						<p class="post-content placeholder"></p>
					</div>
					
					<div class="attachment-container">
						<div class="attachment ph"></div>
					</div>
					<div class="social">
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
						<a class="social-icons placeholder"><div></div></a>
					</div>
				</div>
			</div>
			
			<div class="load-container"><button class="load" id="load-posts" onclick="getPosts()">Load more</button></div>
			
			<div id="canvas"></div>
		</main>
	</body>
</html> 