<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scrooc: Privacy policy and ToS</title>

		<%- include ("modules/link.ejs") %>
		
		<meta name="keywords" content="scrooc privacy policy, scrooc terms and conditions, scrooc gdpr, scrooc tos">
		<meta name="description" content="Our privacy policy and terms of service.">
		
		<meta property="og:url" content="https://scrooc.com/policies">
		<meta property="og:title" content="Scrooc: Privacy policy and ToS">
		<meta property="og:type" content="website">
		<meta property="og:image" content="../../../img/og.png">
		<meta property="og:description" content="Our privacy policy and terms of service.">
		<meta property="og:site_name" content="Scrooc">

		<link rel="canonical" href="https://scrooc.com/policies">
		<meta name="robots" content="index, follow">
	</head>
	<body onload="policyLoad()">

		<%- include ("modules/head.ejs") %>

		<main id="skip1">
			<div class="container">
				<div class="about privacy">

					<select onchange="policyLoad(value)" name="policy-selection" id="policy-selection">
						<option value="1" selected="selected">Privacy policy</option>
						<option value="2">Terms of service</option>
					</select>

					<div id="privacy-policy">
						<p>This is our best attempt at a simple and readable privacy policy explaining how your information is collected, used and shared when you visit and use "Scrooc" aka. www.scrooc.com and it's services. Sometimes we will refer to both as “we” or “us” and to you as “user”.</p>

						<h2 class="privacy-header">INFORMATION WE COLLECT</h2>

						<p>When you interact with Scrooc we automatically collect certain information about you and your usage. This includes:</p>
						<p>Information about your web browser, time zone, device information, pages visited, links clicked, requests or searches you make on Scrooc. </p>

						<p>Here are the most common examples of how we could collect your data:
							<ul>
								<li>If you decide to create an account you will have to provide a username that is only visible to you and Scrooc admins, a valid email address to eliminate spam and enable account recovery and a password to validate logins.</li><br>
								<li>If you decide to submit your content we will also collect information such as notes you enter on the profile page, the contents of a post, topic or comment you submit such as post username, title, content, potential audio and image files you upload, texts you write, links you put in... We will then use it to display publicly for other users to see.</li><br>
								<li>If you decide to make actions such as liking and unliking a post, reporting a post or joining a topic we will collect the information you enter and use it to display publicly and enhance your experience.</li><br>
								<li>In specific situations we will also ask you to provide extra opt-in information in the shape of quizzes, special events and more to better understand our user base without intrusions.</li>
							</ul>
						</p>


						<h2 class="privacy-header">HOW WE USE YOUR INFORMATION</h2>

						<p>We use the collected information to provide, maintain and improve Scroocs services, understand our user base, personalize the content shown to each user, communicate and provide customer support for accounts, important security and privacy updates, terms of service updates, prevention of spam, enforcing of TOS and other policies that may apply.</p>

						<p>We may share your personal information in addition to the information you choose to submit publicly when:
							<ul>
								<li>- you specifically request it or give us permission,</li>
								<li>- when working with security experts, payment transaction providers... ,</li>
								<li>- we are required to comply with the law, we get involved in legal processes...,</li>
								<li>- there are emergencies such as natural disasters.</li>
							</ul>
						</p>

						<p>You have the choice to delete your account meaning your username, mail, password, associations with replies, posts and topics will be overwritten/ terminated if not obligated otherwise. In this case, you will lose access to the account.</p>
						<p>If you choose to delete all posts the associations with replies, posts and topics will be deleted/ terminated but you will still be able to continue using the account.</p>
						

						<h2 class="privacy-header">HOW DATA IS TRANSMITTED AND STORED</h2>

						<p>We use cookies (smaller chunks of data with anonymous identifiers stored inside the browser) to distinguish users and allow interaction with web servers. They are used to enable basic account functionality like recommendations, in-house statistics and themes.</p>
						<p>Data you submit is sent through a secure protocol and stored in-house on servers. Sensitive data like passwords and emails are secured with excellent one-way encryption.</p>
						<p>Data will be stored permanently or until users request removal/ we remove it.</p>


						<h2 class="privacy-header">USE OF COOKIES</h2>

						<p>Most modern browsers accept cookies by default. If you specifically want to reject/remove the cookies you must set that in your browser. Using Scrooc without cookies will eliminate even basic account functionality(you won’t be able to stay logged in).</p>
						<p>If you have the do not track option enabled in your browser it will likely get ignored as it is not standardized.</p>


						<h2 class="privacy-header">CHILDREN</h2>

						<p>Children under the age of 13 are not allowed to create an account or otherwise use Scrooc. Additionally, if you are in the EEA, you must be over the age required by the laws of your country(or have a verifiable consent from your parent or legal guardian) to create an account or otherwise use Scrooc.</p>


						<h2 class="privacy-header">REDIRECTS</h2>

						<p>Scrooc also uses redirects that can be added by us or users in posts with different intentions. Upon redirecting to a different website or opening them in new windows different policies, terms of service and conditions will apply.</p>


						<h2 class="privacy-header">YOUR RIGHTS</h2>

						<p>If you are a European resident, you have the right to access the personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. Any user with an account can exercise this right with the personal data button on the profile page.</p>


						<h2 class="privacy-header">CHANGES</h2>

						<p>We may update this privacy policy and terms of service at any time to adapt. You have the responsibility as a user to read the privacy policy and terms of service every time you log in if it has been updated from the last time you have used it. Examples: changes to our practices, for other operational, legal or regulatory reasons, or simply to reflect a change of values.</p>


						<h2 class="privacy-header">CONTACT US</h2>

						<!--contact form -->
						<p>For more information about our privacy practices, complaints, GDPR requests and more contact us by e-mail at scrooc@scrooc.com</p>
					</div>

					<div id="terms-of-service">
						<h2>TO CONTINUE USING OUR SITE YOU HAVE TO OBLIGE TO THE NEXT SET OF TERMS</h2>
						
						<ol>
							<li>You will not upload, post, discuss, request, or link to anything that:</li>
							<br>
								<ul>
									<li>- violates local or Slovenian law,</li></li>
									<br>
									<li>- contains personal information,</li>
									<br>
									<li>- contains pictures of the deceased against their or their families will,</li>
									<br>
									<li>- contains photographs of children that aren't already public,</li>
									<br>
									<li>- contains outbound links to illegal, phishing or malicious websites.</li>
								</ul>
							<br>
							<li>You will immediately cease the use of the site if you 
							are under the age of 13.</li>
							<br>
							<li>Serious impersonations are forbidden.</li>
							<br>
							<li>Posting advertisements as normal posts is forbidden. 
							You can however contact us to arrange sponsorships as we want the maximum transparency.</li>
							<br>
							<li>The use of scrapers, bots, automation for interaction to posts, topic or other uses where an account is required is forbidden.</li>
							<br>
							<li>Attaching your actual name or online personality is discouraged and should not be done regularly.</li>
							<br>
							<li>Uploading images containing additional data such as embedded sounds, documents, archives, etc is discouraged.</li>
							<br>
						</ol>
						<li>Brief: You may post gore, 18+, copy pastas, gray area stories in the appropriate topics with the appropriate tags, warnings and context.
								
							Posts and comments that are misplaced, 
							illegal, spam… may get it’s content erased/overwritten/delisted but will stay linked.
							Each time you make violations of our guidelines we may issue a warning, block you from posting, 
							suspend your account or report you to the authorities if deemed necessary by our judgment.</li>
							<br>
						<!--add ban appeals-->
					</div>
				</div>
			</div>
			<div id="canvas"></div>
		</main>
	</body>
</html> 