<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scrooc: Moderation</title>
		
		<%- include ("modules/link.ejs") %>

		<meta name="keywords" content="scrooc mod, scrooc moderation">
		<meta name="description" content="Moderation of scrooc.com.">
		
		<meta property="og:url" content="https://scrooc.com/mod">
		<meta property="og:title" content="Scrooc: Moderation">
		<meta property="og:type" content="website">
		<meta property="og:image" content="../../../img/og.png">
		<meta property="og:description" content="Moderation of scrooc.com.">
		<meta property="og:site_name" content="Scrooc">

		<meta name="robots" content="noindex, nofollow">
	</head>
	<body onload="sortBy();warning()">

		<%- include ("modules/head.ejs") %>

		<main id="skip1">
			<div class="container">
				
			</div>

			<div class="all-reply-container" id="mod">
				<form action="/auth/judge/" id="modForm" method="POST"> 
                    <h3>Worthy or not worthy?!?!</h3>
					<input type="radio" id="ban" name="mod" value="0">
					<label for="ban">Remove</label><br>
					<input type="radio" id="approve" name="mod" value="2">
					<label for="approve">Approve</label><br>
					<input type="radio" id="pass" name="mod" value="1">
					<label for="pass">Pass</label><br>
					<input type="radio" id="banban" name="mod" value="3">
					<label for="banban">Severe violation</label><br>
					<textarea rows="1" maxlength="300" name="message" id="message"></textarea>
                    <div class="tra">
                        <h3>Enter</h3>
                        <input type="text" id="tra" name="tra" value=" ">
                    </div>
					<button class="user-input-btn" type="submit">Judge</button>
                </form>
			</div>

			<div class="load-container"><div id="load-posts"></div></div>
			<div id="canvas"></div>
		</main>
	</body>
</html> 