<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Scrooc: Profile reset</title>

        <%- include ("modules/link.ejs") %>

		<meta name="keywords" content="scrooc reset, password reset scrooc, email reset scrooc">
        <meta name="description" content="Password, email and login reset page for the scrooc social.">

        <meta property="og:url" content="https://scrooc.com/reset">
        <meta property="og:title" content="Scrooc: Profile reset">
		<meta property="og:type" content="website">
		<meta property="og:image" content="../../../img/og.png">
		<meta property="og:description" content="Password, email and login reset page for the scrooc social.">
		<meta property="og:site_name" content="Scrooc">

        <link rel="canonical" href="https://scrooc.com/reset">
        <meta name="robots" content="noindex, follow">
	</head>
	<body >
		
        <%- include ("modules/head.ejs") %>

		<main id="skip1" class="user-input">

            <form class='first-reset' action="/auth/passReset" method="POST">
                <button type="button" class="collapsible">Reset the password</button>
                <div class="content_d">  
                    <div>
                        <h3>Enter an email: </h3>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <button class="user-input-btn" type="submit">Submit</button>
                    <a class="topic-create" href="../../../register"><button class="user-input-btn user-input-btn-right">Back to login</button></a>
                </div>
            </form>

            <form action="/auth/emailReset" method="POST">
                <button type="button" class="collapsible">Reset the email</button>
                <div class="content_d">  
                    <h3>Enter an email: </h3>
                        <input type="email" id="email" name="email" required>
                    <button class="user-input-btn" type="submit">Submit</button>
                    <a class="topic-create" href="../../../register"><button class="user-input-btn user-input-btn-right">Back to login</button></a>
                </div>
            </form>

            <form action="/auth/userReset" method="POST">
                <button type="button" class="collapsible">Reset the username</button>
                <div class="content_d"> 
                    <div>
                        <h3>Enter the secret: </h3>
                        <input type="text" id="secret" name="secret" required>
                        <h3>Enter the password: </h3>
                        <input type="password" id="password" name="password" required>
                        <h3>Enter the email: </h3>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <button class="user-input-btn" type="submit">Submit</button>
                    <a class="topic-create" href="../../../register"><button class="user-input-btn user-input-btn-right">Back to login</button></a>
                </div>
            </form>

            <div id="canvas"></div>
        </main>
	</body>
</html> 